.main-card {
    width: 100%;
}

.main-card .movie-card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .img-card {
    margin: 10px;
    width: 295px;
    
}

.content {
    position: absolute;
    justify-items: center;
}

.movie-card .card {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.img-card:hover{
    
    transition: all;
} */

.card {
    position: relative;

    width: 300px;

    margin: 10px;

    overflow: hidden;

    border-radius: 8px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    transition: transform 0.3s ease;

}

.card:hover {
    /* transform: scale(1.05); */
    /* Slight zoom effect on hover */
}

.img-card {
    width: 100%;
    object-fit: cover;
    /* Keep image proportions */
    transition: opacity 0.3s ease;
    /* Smooth fade effect */
}

.card:hover .img-card {
    opacity: 0.6;
    /* Dim the image on hover */
}

.content {
    position: absolute;
    bottom: 0px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    opacity: 1;
    transform: translateY(20px);
    transition: opacity 0.3s ease,transform 0.3s ease-in-out;
}

.card:hover .content {
    opacity: 1;
    transform: translateY(-20px);
    /* Show content on hover */
}