.main-card {
    width: 100%;
}

.main-card .movie-card-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    gap: 10px;
}

/* .img-card {
    margin: 10px;
    width: 295px;
    
}

.content {
    position: absolute;
    justify-items: center;
}

.movie-card .card {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.img-card:hover{
    
    transition: all;
} */

.card {
    position: relative;

    width: 300px;
    height: 450px;

    margin: 10px;

    overflow: hidden;

    border-radius: 8px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    transition: transform 0.3s ease;

}

.img-card {
    width:100%;
    object-fit: cover;
    height: 480px;
    
    /* object-position: center; */
    /* Keep image proportions */
    transition: opacity 0.3s ease;
    
    /* Smooth fade effect */
}

.card:hover .img-card {
    opacity: 0.4;
    /* background: radial-gradient(#e66465, #9198e5); */
    cursor: pointer;
}

.content {
    justify-items: center;
    position: absolute;
    bottom: 0px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    opacity: 1;
    transform: translateY(50px);
    transition: opacity 0.3s ease,transform 0.3s ease-in-out;
}

.card:hover .content {
    opacity: 1;
    transform: translateY(-20px);
}


.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.pagination-controls button {
    background-color: #ff9800;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination-controls button:disabled {
    background-color: #555;
    cursor: not-allowed;
}

.pagination-controls button:hover:not(:disabled) {
    background-color: #e68900;
}

.pagination-controls span {
    color: white;
    font-size: 16px;
}
